.banner,
.loader {
    position: relative;
    top: 50%
}

html {
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*,
:after,
:before {
    -moz-box-sizing: inherit;
    box-sizing: inherit
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #000;
    font-family: Helvetica, Arial, sans-serif
}

:focus {
    outline: 0
}

::-moz-focus-inner {
    border: 0
}

.banner {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    transform-style-property: flat
}

/* utility classes for various creative sizes */
.banner--MPU {
    width: 300px;
    height: 250px
}

.banner--DMPU {
    width: 300px;
    height: 600px
}

.banner--LDB {
    width: 728px;
    height: 90px
}

.banner--SKY {
    width: 120px;
    height: 600px
}

.banner--WSKY {
    width: 160px;
    height: 600px
}

.banner--MOB {
    width: 300px;
    height: 50px
}

.banner--WMOB {
    width: 320px;
    height: 50px
}

.banner--BILL {
    width: 970px;
    height: 250px
}

.loader {
    left: 50%;
    margin-left: -10px;
    margin-top: -15px;
    font-size: 10px;
    text-indent: -9999em;
    border-top: 3px solid rgba(0, 0, 0, .1);
    border-right: 3px solid rgba(0, 0, 0, .1);
    border-bottom: 3px solid rgba(0, 0, 0, .1);
    border-left: 3px solid rgba(0, 0, 0, .3);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load 1.1s infinite linear
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 20px;
    height: 20px
}

@-webkit-keyframes load {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes load {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.font-smooth {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased
}

.is-android .font-smooth {
    text-rendering: auto;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    font-smoothing: auto
}

.perspective-smooth {
    outline: transparent solid 1px
}

.animation-smooth {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden
}

@media screen and (max-device-width:480px) {
    body {
        -webkit-text-size-adjust: none
    }
}