.exit {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,1);
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,1);
}

img {
  position: absolute;
  top: 0;
  left: 0;
}

.frame {
  width: 300px;
  height: 600px;
  position: absolute;
  top: 0;
  opacity: 0;
  overflow: hidden;
}

.car {
  position: absolute;
  width: 25px;
  height: 25px;
  opacity: 0;
}

.legals-holder {
  visibility: hidden;
}

.legals {
  text-align: left;
}

.legals p {
  font-size: 10px;
  margin: 0px;
  cursor: pointer;
  cursor: hand;
}

.legals-btn {
  position: absolute;
  top: 100%;
  height: 30px;
}

.legals-btn p {
  margin-top: -25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 3px;
  padding-right: 3px;
  color: #000;
  opacity: 0.8;
}

.legals-txt {
  position: absolute;
  top: 100%;
  background-color: rgba(255,255,255,1);
  border-left: 1px solid rgba(0,0,0,1);
  border-right: 1px solid rgba(0,0,0,1);
}

.legals-txt p {
  width: 100%;
  left: 5px;
  padding-right: 2px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.close {
  display: block;
  padding: 3px;
  font-size: 10px;
  text-align: right;
  cursor: pointer;
  cursor: hand;
}

.hidden {
  display: none;
}